@import '_global.scss';

$light-blue:#0080c3;

/* - Your Styles Here - */




img.interface {
	width:100%;
	height:auto;
}

.center-this {
	margin:0px auto;
	display: inline-block;
}

.right {

	float:right;
}

.utilities {
    width: 31px;
    height: 31px;
    background: url('../img/utilities.svg') 0 0;

}

.navlist {
    position: relative;
}

.navlist div {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}

.navlist div, #navlist a {
    height: 39px;
    display: block;
}

.skipBack{
	left: 0px;
	width: 39px;
    background: url('../img/play_pause_voice.svg') 0 0;	
}

.skipForward {
	width: 39px;
    height: 39px;
    left:96px;
    background: url('../img/play_pause_voice.svg') 0 0;
}

.soundOff{
	width: 39px;
    height: 39px;
    left:48px;
    background: url('../img/play_pause_voice.svg') 0 0;
}

.makeRelative{
	position:relative;
}

.buttonSymbols{
	width:100%;
	height: auto;
}

.playBtn {

}
.pausBtn{

}

.logoBtn{

}

.symbolHolder{
	left: 33%;
  	top: 37%;
  	width: 33%;
	height:auto;
	display:block;
	position:absolute;
}

.main-button {
    .symbolHolder {
        opacity: 0;
    }
    .logoBtn {
        transition: all 0.7s;
    }
    &.init {
        .logoBtn {
            opacity: 1;
            background: white;
        }
    }
    &.paused {
        .playBtn {
            opacity: 1;
        }
    }
    &.playing {
        .pauseBtn {
            opacity: 1;
        }
    }
}

/* - Narrow desktop view - */
@media screen and (max-width: 991px){

}

/* - iPad view - */
@media screen and (max-width: 767px){

}

/* - Responsive view - */
@media screen and (max-width: 620px){

}

/* - Mobile view - */
@media screen and (max-width: 500px){

}
